/* Reset default margins, padding, and box-sizing to ensure consistent layout across browsers (includes borders, padding, etc in the width calculations) */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}  

.page-grid-container {
    display: grid;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: 1fr;
    background-image: url(images/whole-page-background-img.png);
    background-size: cover;
    gap: 44px;
    padding: 0px 59px;
}

header {
    display: contents;
}

.profile-grid-container {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: auto;
    gap: 10px;
    width: 1322px;
    padding-top: 63px;
    border-radius: 29px;
}

.profile-bio-flex-container {
    background-color: #FFFFFF;
    padding: 24px;
    border-radius: 29px;
    box-shadow: 0 2px 3px #DADADA;
    width: 995px;
    padding: 59px 69px;
    height: 300px;
}

.profile-image {
    aspect-ratio: 1 / 1;
    width: 300px;
    border-radius: 29px;
}

.profile-name-heading {
    font-size: 36px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin: 0;
    margin-bottom: 16px;
    text-align: left;
    color: #000;
}

.profile-bio {
    font-size: 22px;
    font-weight: normal;
    color: #4A4A4A;
    line-height: 24px;
    margin: 0px;
}

.proficiency-skills-graph-grid-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    width: 1322px;
    height: 428px;
}

.skills-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    flex-wrap: wrap;
    background-color: #FFFFFF;
    padding: 28px;
    border-radius: 29px;
    box-shadow: 0 2px 2px #DADADA;
    width: 706px;
    height: 429px;
}

.skills-heading {
    font-size: 34px;
    color: #000000;
}

.nested-skills-grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 19px;
    width: 673px;
    height: 280px;
}

.skills-pills {
    background-color: #ECF4F1;
    padding: 10px 24px;
    border-radius: 97px;
    display: inline-block;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    align-self: center;
    color: #000000;
    letter-spacing: 2px;
}

.proficiency-bars-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 29px;
    box-shadow: 0 2px 2px #DADADA;
    width: 564px;
    height: 428px;
    padding: 41px 28px;
}

.proficiency-bars-heading {
    color: #000000;
    font-size: 34px;
}

.bars {
    height: 27px;
    border-radius: 7px;
    background-color: #396B5E;
}

.javascript-bar, .html-css-bar {
    width: 30%;
}

.proficiency-bars-levels-container {
    display: flex;
    padding-left: 160px;
    gap: 30px;
    height: 36px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    color: #000000;
}

.languages-grid-container {
    display: grid;
    grid-template-areas: 
    "js js-bar"
    "html-css html-css-bar";
    grid-template-columns: 150px 1fr;
    gap: 20px;
}

.bar-headings {
    font-size: 24px;
    color: #000000;
}

.javascript-heading {
    grid-area: js;
}

.javascript-bar {
    grid-area: js-bar;
}

.html-css-heading {
    grid-area: html-css;
}

.html-css-bar {
    grid-area: html-css-bar;
}

/* Projects section */
.projects-grid-container {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(4, auto);
    background-color: #FFFFFF;
    width: 1322px;
    height: 755px;
}

.projects-card {
    width: 272px;
    height: 581px;
}

.projects-heading {
    grid-column: 1 / -1;
    justify-self: center;
    font-size: 34px;
}