/* Reset default margins, padding, and box-sizing to ensure consistent layout across browsers (includes borders, padding, etc in the width calculations) */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}  
/* Grid for the entire page so that we can have uniform gaps and padding */
.page-grid-container {
    display: grid;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: auto;
    background-image: url(images/whole-page-background-img.png);
    width: 1440px; /* Set to the Figma, leaves some of the desktop view as blank space on anything above 1440px */
    gap: 44px;
    padding: 63px 59px;
    justify-self: center;
    /* Setting the background to cover looks very distorted but not setting it to cover introduces some dividing lines */
}
/* Remove these semantic elements from the layout flow */
header, main, footer {
    display: contents;
}
/* Each section will have a certain combination of grid/container and flexbox/cards to achieve the desired layout look */
/* Profile section */
.profile-grid-container {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: auto;
    gap: 10px;
    width: 1322px;
    border-radius: 29px;
}

.profile-bio-flex-container {
    background-color: #FFFFFF;
    padding: 24px;
    border-radius: 29px;
    box-shadow: 0 2px 3px #DADADA;
    padding: 59px 69px;
    height: 300px;
}

.profile-image {
    aspect-ratio: 1 / 1;
    width: 300px;
    border-radius: 29px;
}

.profile-name-heading {
    font-size: 36px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin: 0;
    margin-bottom: 16px;
    text-align: left;
    color: #000;
}

.profile-bio {
    font-size: 22px;
    font-weight: normal;
    color: #4A4A4A;
    line-height: 24px;
    margin: 0px;
}

.proficiency-skills-graph-grid-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    width: 1322px;
    height: 428px;
}

.skills-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    flex-wrap: wrap;
    background-color: #FFFFFF;
    padding: 28px;
    border-radius: 29px;
    box-shadow: 0 2px 2px #DADADA;
    width: 706px;
    height: 429px;
}

.skills-heading {
    font-size: 34px;
    color: #000000;
}

.nested-skills-grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 19px;
    width: 673px;
    height: 280px;
}
/* Specific layout for the pill shaped containers for the skills */
.skills-pills {
    background-color: #ECF4F1;
    padding: 10px 24px;
    border-radius: 97px;
    display: inline-block;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    align-self: center;
    color: #000000;
    letter-spacing: 2px;
}

.proficiency-bars-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    background-color: #FFFFFF;
    border-radius: 29px;
    box-shadow: 0 2px 2px #DADADA;
    width: 564px;
    height: 428px;
    padding: 41px 28px;
}

.proficiency-bars-heading {
    color: #000000;
    font-size: 34px;
    font-weight: bold;
}

.bars {
    height: 27px;
    border-radius: 7px;
    background-color: #396B5E;
}
/* Change width percentage of each bar based on current experience and compentance with each listed language */
.beginner-bar {
    width: 30%;
}

.intermediate-bar {
    width: 50%;
}

.proficiency-bars-levels-container {
    display: flex;
    padding-left: 160px;
    gap: 30px;
    height: 36px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Inter', sans-serif; /* This font is not working */
    color: #000000;
}
/* Grid template areas to make this section easier to layout next to each other and to try something different */
.languages-grid-container {
    display: grid;
    grid-template-areas: 
    "js js-bar"
    "html-css html-css-bar";
    grid-template-columns: 150px 1fr;
    gap: 20px;
}
/* Specific placements of each element based on the placeholder name */
.bar-headings {
    font-size: 24px;
    color: #000000;
}

.javascript-heading {
    grid-area: js;
}

.javascript-bar {
    grid-area: js-bar;
}

.html-css-heading {
    grid-area: html-css;
}

.html-css-bar {
    grid-area: html-css-bar;
}

/* Projects section */
.projects-grid-container {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(4, auto);
    background-color: #FFFFFF;
    width: 1322px;
    height: 755px;
    padding: 43px 29px;
    border-radius: 29px;
    box-shadow: 0 2px 3px #DADADA;
}

.projects-card {
    display: flex;
    flex-direction: column;
    width: 272px;
    height: 581px;
    gap: 20px;
    background-color: #E7F0EC;
    padding: 21px 19px;
    border-radius: 29px;
}

.projects-grid-container .projects-card:nth-of-type(1) {
    background-color: #4A8B70;
    color: #FFFFFF;
}  

.projects-heading {
    grid-column: 1 / -1;
    justify-self: center;
    font-size: 34px;
}

.project-date, .project-name {
    font-size: 24px;
    font-weight: bold;
}

.project-brief, .project-responsibilities, .project-tech {
    font-size: 19px;
    font-weight: bold;
}

.projects-card span {
    font-size: 19px;
    font-weight: normal;
}

.project-date {
    display: flex;
    justify-content: space-between;
}

.heart-img {
    width: 27px;
    height: 23px;
}

.tools-education-grid-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    width: 1322px;
    gap: 10px;
}

.education-grid-container {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: auto;
    width: 995px;
    height: 847px;
    border-radius: 29px;
    padding: 29px;
    background-color: #FFFFFF;
    gap: 10px;
}

.education-card {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    gap: 35px;
    padding: 27px 21px;
    font-size: 19px;
    font-weight: normal;
    background-color: #E7F0EC;
    border-radius: 29px;
}

.education-grid-container .education-card:nth-of-type(1),
.experience-grid-container .experience-card:nth-of-type(1) {
    background-color: #4A8B70;
    color: #FFFFFF;
}

.education-heading, .experience-grid-heading {
    font-size: 34px;
    font-weight: bold;
}

.education-date {
    height: 27px;
}

.place-of-study, .type-of-work {
    font-size: 24px;
    font-weight: bold;
}

.education-details-container, .education-ul-container, .experience-card-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.tools-grid-container {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: auto;
    background-color: #FFFFFF;
    height: 847px;
    border-radius: 29px;
    gap: 20px;
    padding: 46px 62px;
}

.tools-heading {
    font-size: 34px;
    font-weight: bold;
    justify-self: center;
}

.tools-nested-grid-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 39px;
    padding: 39px 10px;
    background-color: #E7F0EC;
    position: relative;
    border-radius: 15px;
    justify-content: center;
}

.tools-nested-grid-container img {
    width: 41px;
    height: 41px;
    aspect-ratio: 1 / 1;
}

.tools-nested-grid-heading {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 153px;
    /* Adding padding here made it difficult to align the text properly */
    background-color: #000000;
    color: #FFFFFF;
    font-size: 12px;
    width: 66px;
    height: 17px;
    text-align: center;
    font-weight: 500;
}

.experience-grid-container {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: auto;
    width: 1316px;
    height: 640px;
    border-radius: 29px;
    padding: 32px 27px;
    gap: 10px;
    background-color: #FFFFFF;
}

.experience-card {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    background-color: #E7F0EC;
    gap: 35px;
    padding: 19px 25px;
    width: 1260px;
    height: 145px;
    border-radius: 29px;
    font-size: 19px;
    position: relative;
}

.most-recent {
    background-color: #D76239;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 123px;
    height: 33;
    border-radius: 143px;
    padding: 5px 0px;
    font-size: 15px;
    text-align: center;
}

.experience-card-list {
    width: 793px;
}

.contact-footer-grid-container {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: auto;
    background-color: #D76239;
    color: #FFFFFF;
    border-radius: 29px;
    width: 1322px;
    height: 158px;
    padding: 29px;
    gap: 10px;
}

.contact-footer-flex-container {
    display: flex;
    gap: 19px;
}

.contact-footer-heading {
    font-size: 34px;
}

.contact-footer-details {
    font-size: 24px;
}

a {
    text-decoration: none;
    color: inherit;
}

.footer-divider {
    width: 8px;
    height: 36px;
    text-align: center;
    font-size: 24px;
}

.hide {
    display: none;
}

html, body {
    overflow-y: scroll;
    overflow-x: hidden;
}
/* Media querry for mobile repsonsiveness */
@media (max-width: 767px) {
    /* Grid for the entire page so that we can have uniform gaps and padding */
    .page-grid-container {
        display: grid;
        grid-template-rows: repeat(6, auto);
        grid-template-columns: auto;
        width: 402px; /* Set to the Figma, leaves some of the desktop view as blank space on anything above 1440px */
        gap: 10px;
        padding: 10px 42px;
        /* Setting the background to cover looks very distorted but not setting it to cover introduces some dividing lines */
    }
    /* Each section will have a certain combination of grid/container and flexbox/cards to achieve the desired layout look */
    /* Profile section */
    .profile-grid-container {
        grid-template-columns: 147px auto;
        grid-template-rows: auto;
        gap: 10px;
        width: 320px;
        border-radius: 12px;
    }

    .profile-bio-flex-container {
        border-radius: 12px;
        padding: 12px;
        width: 163px;
        height: 137px;
    }

    .profile-image {
        width: 147px;
        height: 137px;
        border-radius: 12px;
    }

    .profile-name-heading {
        font-size: 16px;
        margin: 0;
        margin-bottom: 0px;
    }

    .profile-bio {
        font-size: 10px;
        line-height: 15px;
    }

    .proficiency-skills-graph-grid-container {
        grid-template-rows: repeat(2, auto);
        grid-template-columns: auto;
        gap: 10px;
        width: 318px;
        height: 364px;
    }

    .skills-grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        padding: 16px;
        border-radius: 12px;
        width: 318px;
        height: 177px;
    }

    .skills-heading {
        font-size: 14px;
    }

    .nested-skills-grid-container {
        gap: 8px;
        width: 294px;
        height: 116px;
    }
    /* Specific layout for the pill shaped containers for the skills */
    .skills-pills {
        padding: 4px 10px;
        border-radius: 40px;
        font-size: 10px;
        letter-spacing: 0px;
    }

    .proficiency-bars-grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        border-radius: 12px;
        width: 318px;
        height: 177px;
        padding: 12px;
        gap: 16px;
    }

    .proficiency-bars-heading {
        font-size: 14px;
    }

    .bars {
        height: 11px;
        border-radius: 3px;
    }
    /* Change width percentage of each bar based on current experience and compentance with each listed language */
    .beginner-bar {
        width: 30%;
    }

    .intermediate-bar {
        width: 50%;
    }

    .proficiency-bars-levels-container {
        padding-left: 59px;
        gap: 30px;
        height: 15px;
        font-size: 10px;
    }
    /* Grid template areas to make this section easier to layout next to each other and to try something different */
    .languages-grid-container {
        grid-template-columns: 59px 1fr;
        gap: 5px;
    }
    /* Specific placements of each element based on the placeholder name */
    .bar-headings {
        font-size: 10px;
    }

    .javascript-heading {
        grid-area: js;
    }

    .javascript-bar {
        grid-area: js-bar;
    }

    .html-css-heading {
        grid-area: html-css;
    }

    .html-css-bar {
        grid-area: html-css-bar;
    }

    /* Projects section */
    .projects-grid-container {
        grid-template-columns: repeat(2, auto);
        width: 320px;
        height: 632px;
        padding: 12px;
        border-radius: 12px;
    }

    .projects-card {
        width: 140px;
        height: 275px;
        gap: 15px;
        padding: 10px;
        border-radius: 12px;
    }  

    .projects-heading {
        font-size: 14px;
    }

    .project-date, .project-name {
        font-size: 12px;
    }

    .project-brief, .project-responsibilities, .project-tech {
        font-size: 10px;
    }

    .projects-card span {
        font-size: 10px;
    }

    .heart-img, .heart-img img {
        width: 13px;
        height: 11px;
    }

    /* Education and tools section */
    .tools-education-grid-container {
        grid-template-columns: auto;
        grid-template-rows: repeat(2, auto);
        width: 320px;
        height: 634px;
        gap: 10px;
    }

    .education-grid-container {
        width: 320px;
        height: 461px;
        border-radius: 10px;
        padding: 8px;
        gap: 8px;
    }

    .education-card {
        gap: 20px;
        padding: 5px;
        font-size: 8px;
        border-radius: 12px;
    }

    .education-heading, .experience-grid-heading {
        font-size: 14px;
    }

    .place-of-study, .type-of-work {
        font-size: 10px;
    }

    .education-details-container, .education-ul-container, .experience-card-details {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .tools-grid-container {
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(3, auto);
        height: 163px;
        border-radius: 12px;
        gap: 5px;
        padding: 12px;
    }

    .tools-heading {
        font-size: 12px;
        grid-column: 1 / -1;
    }

    .tools-nested-grid-container {
        gap: 16px;
        padding: 16px 4px;
        border-radius: 6px;
    }

    .tools-nested-grid-container img {
        width: 17px;
        height: 17px;
    }

    .tools-nested-grid-heading {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 59px;
        color: #FFFFFF;
        font-size: 5px;
        width: 35px;
        height: 14px;
    }


    /* Experience section */
    .experience-grid-container {
        width: 319px;
        height: 487px;
        border-radius: 12px;
        padding: 12px; /* I cannot find the padding values for certian containers on the figma img */
    }

    .experience-card {
        gap: 20px;
        row-gap: 8px;
        padding: 8px;
        width: 295px;
        height: 141px;
        border-radius: 10px;
        font-size: 8px;
    }

    .vis {
        display: none;
    }

    .hide {
        display: block;
    }

    .most-recent-hide {
        display: none;
    }

    .experience-grid-container .experience-card:nth-of-type(1) {
        grid-template-rows: repeat(2, auto);
    }

    .hide {
        grid-column: 1 / -1;
        display: flex;
        justify-content: space-between;
    }

    .most-recent {
        right: 10px;
        top: 10px;
        width: 61px;
        height: 16px;
        border-radius: 59px;
        padding: 2px 2px;
        font-size: 8px;
        position: static;
    }

    .experience-date {
        height: 27px;
    }

    .experience-card-list {
        width: 147px;
    }

    .contact-footer-grid-container {
        border-radius: 12px;
        width: 320px;
        height: 89px;
        padding: 12px;
        gap: 10px; /* Cannot find this on the figma img, I think because the figma is using absolute positioning instead of padding */
    }

    .contact-footer-flex-container {
        display: flex;
        gap: 2px;
    }

    .contact-footer-heading {
        font-size: 14px;
    }

    .contact-footer-details {
        font-size: 10px;
    }

    .footer-divider {
        width: 3px;
        height: 15px;
        font-size: 10px;
    }
  }
  