/* Reset default margins, padding, and box-sizing to ensure consistent layout across browsers (includes borders, padding, etc in the width calculations) */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}  
/* Grid for the entire page so that we can have uniform gaps and padding */
.page-grid-container {
    display: grid;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: auto;
    background-image: url(images/whole-page-background-img.png);
    background-size: cover;
    gap: 44px;
    padding: 0px 59px;
}
/* Remove these semantic elements from the layout flow */
header, main, footer {
    display: contents;
}
/* Each section will have a certain combination of grid/container and flexbox/cards to achieve the desired layout look */
/* Profile section */
.profile-grid-container {
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: auto;
    gap: 10px;
    width: 1322px;
    padding-top: 63px;
    border-radius: 29px;
}

.profile-bio-flex-container {
    background-color: #FFFFFF;
    padding: 24px;
    border-radius: 29px;
    box-shadow: 0 2px 3px #DADADA;
    width: 995px;
    padding: 59px 69px;
    height: 300px;
}

.profile-image {
    aspect-ratio: 1 / 1;
    width: 300px;
    border-radius: 29px;
}

.profile-name-heading {
    font-size: 36px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin: 0;
    margin-bottom: 16px;
    text-align: left;
    color: #000;
}

.profile-bio {
    font-size: 22px;
    font-weight: normal;
    color: #4A4A4A;
    line-height: 24px;
    margin: 0px;
}

.proficiency-skills-graph-grid-container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    width: 1322px;
    height: 428px;
}

.skills-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    flex-wrap: wrap;
    background-color: #FFFFFF;
    padding: 28px;
    border-radius: 29px;
    box-shadow: 0 2px 2px #DADADA;
    width: 706px;
    height: 429px;
}

.skills-heading {
    font-size: 34px;
    color: #000000;
}

.nested-skills-grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 19px;
    width: 673px;
    height: 280px;
}
/* Specific layout for the pill shaped containers for the skills */
.skills-pills {
    background-color: #ECF4F1;
    padding: 10px 24px;
    border-radius: 97px;
    display: inline-block;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    align-self: center;
    color: #000000;
    letter-spacing: 2px;
}

.proficiency-bars-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    background-color: #FFFFFF;
    border-radius: 29px;
    box-shadow: 0 2px 2px #DADADA;
    width: 564px;
    height: 428px;
    padding: 41px 28px;
}

.proficiency-bars-heading {
    color: #000000;
    font-size: 34px;
    font-weight: bold;
}

.bars {
    height: 27px;
    border-radius: 7px;
    background-color: #396B5E;
}
/* Change width percentage of each bar based on current experience and compentance with each listed language */
.javascript-bar, .html-css-bar {
    width: 30%;
}

.proficiency-bars-levels-container {
    display: flex;
    padding-left: 160px;
    gap: 30px;
    height: 36px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Inter', sans-serif; /* This font is not working */
    color: #000000;
}
/* Grid template areas to make this section easier to layout next to each other and to try something different */
.languages-grid-container {
    display: grid;
    grid-template-areas: 
    "js js-bar"
    "html-css html-css-bar";
    grid-template-columns: 150px 1fr;
    gap: 20px;
}
/* Specific placements of each element based on the placeholder name */
.bar-headings {
    font-size: 24px;
    color: #000000;
}

.javascript-heading {
    grid-area: js;
}

.javascript-bar {
    grid-area: js-bar;
}

.html-css-heading {
    grid-area: html-css;
}

.html-css-bar {
    grid-area: html-css-bar;
}

/* Projects section */
.projects-grid-container {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(4, auto);
    background-color: #FFFFFF;
    width: 1322px;
    height: 755px;
    padding: 43px 29px;
    border-radius: 29px;
    box-shadow: 0 2px 3px #DADADA;
}

.projects-card {
    display: flex;
    flex-direction: column;
    width: 272px;
    height: 581px;
    gap: 20px;
    background-color: #E7F0EC;
    padding: 21px 19px;
    border-radius: 29px;
}

.projects-grid-container .projects-card:nth-of-type(1) {
    background-color: #4A8B70;
    color: #FFFFFF;
}  

.projects-heading {
    grid-column: 1 / -1;
    justify-self: center;
    font-size: 34px;
}

.project-date, .project-name {
    font-size: 24px;
    font-weight: bold;
}

.project-brief, .project-responsibilities, .project-tech {
    font-size: 19px;
    font-weight: bold;
}

.projects-card span {
    font-size: 19px;
    font-weight: normal;
}

.project-date {
    display: flex;
    justify-content: space-between;
}

.heart-img {
    width: 27px;
    height: 23px;
}

.tools-education-grid-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    width: 1322px;
    gap: 10px;
}

.education-grid-container {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: auto;
    width: 995px;
    height: 847px;
    border-radius: 29px;
    padding: 29px;
    background-color: #FFFFFF;
    gap: 10px;
}

.education-card {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    gap: 35px;
    padding: 27px 21px;
    font-size: 19px;
    font-weight: normal;
    background-color: #E7F0EC;
    border-radius: 29px;
}

.education-grid-container .education-card:nth-of-type(1),
.experience-grid-container .experience-card:nth-of-type(1) {
    background-color: #4A8B70;
    color: #FFFFFF;
}

.education-heading, .experience-grid-heading {
    font-size: 34px;
    font-weight: bold;
}

.place-of-study, .type-of-work {
    font-size: 24px;
    font-weight: bold;
}

.education-details-container, .education-ul-container, .experience-card-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.tools-grid-container {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: auto;
    background-color: #FFFFFF;
    width: 300px;
    height: 847px;
    border-radius: 29px;
    gap: 20px;
    padding: 46px 62px;
}

.tools-heading {
    font-size: 34px;
    font-weight: bold;
    justify-self: center;
}

.tools-nested-grid-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 39px;
    padding: 39px 10px;
    background-color: #E7F0EC;
    position: relative;
    border-radius: 15px;
    justify-content: center;
}

.tools-nested-grid-container img {
    width: 41px;
    height: 41px;
    aspect-ratio: 1 / 1;
}

.tools-nested-grid-heading {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 153px;
    padding: 5px 15px;
    background-color: #000000;
    color: #FFFFFF;
    font-size: 12px;
    width: 66px;
    height: 17px;
    text-align: center;
    font-weight: 500;
}

.experience-grid-container {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: auto;
    width: 1316px;
    height: 640px;
    border-radius: 29px;
    padding: 32px 27px;
    gap: 10px;
    background-color: #FFFFFF;
}

.experience-card {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    background-color: #E7F0EC;
    gap: 35px;
    padding: 19px 25px;
    width: 1260px;
    height: 145px;
    border-radius: 29px;
    font-size: 19px;
    position: relative;
}

.most-recent {
    background-color: #D76239;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 123px;
    height: 33;
    border-radius: 143px;
    padding: 5px 0px;
    font-size: 15px;
    text-align: center;
}

.experience-card-list {
    width: 793px;
}

.contact-footer-grid-container {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: auto;
    background-color: #D76239;
    color: #FFFFFF;
    border-radius: 29px;
    width: 1322px;
    height: 158px;
}

.contact-footer-flex-container {
    display: flex;
    padding: 29px;
    gap: 19px;
}

.contact-footer-heading {
    font-size: 34px;
}

.contact-footer-details {
    font-size: 24px;
}